/* GENERAL SETTINGS */
.__nav-size {
    height: 60px;
}
/* ________________________________________________________ */
.__my-container {
    display: flex;
    height: calc(100vh - 60px);
}
/* ________________________________________________________ */
.offcanvas-size {
    --bs-offcanvas-width: min(100%) !important;
}
/* ________________________________________________________ */
aside {
    width: 80px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #0a2238;
}
/* ________________________________________________________ */
main {
    width: 100vw;
    height: calc(100vh - 60px);
}
/* ________________________________________________________ */
a {
    text-decoration: none;
}
/* /GENERAL SETTINGS */


/* COLORS , BACKGROUND-COLOR AND FONT-SIZE*/
.fa-solid {
    color: #5b5858;
    width: 18px;
}
/* ________________________________________________________ */
.fa-bell {
    color: #ff8f00;
}
/* ________________________________________________________ */
.__bg-search {
    background-color: #e5e5e5;
}
/* ________________________________________________________ */
.__inner-nav-bar {
    background-color: #1b72e8;
}
/* ________________________________________________________ */
.__bg-button {
    background-color: #165bba;
}
/* ________________________________________________________ */
.__aside-hover:hover {
    background-color: #818f98;
}
/* ________________________________________________________ */
li, span, .btn-success, .btn-warning, .btn-danger {
    font-size: 10px;
}
/* ________________________________________________________ */
.dropdown-menu[data-bs-popper] {
    left: inherit;
    right: 0;
}
/* /COLORS , BACKGROUND-COLOR AND FONT-SIZE*/



@media screen and (min-width:992px) {
    aside {
        min-width: 140px;
    }

    .offcanvas-size {
        --bs-offcanvas-width: min(95vw, 800px) !important;
    }
}