

.__nav-size {
    height: 60px;
}


.__bg-search {
    background-color: #e5e5e5;
}

.fa-solid {
    color: #5b5858;
    width: 18px;
}

.fa-bell {
    color: #ff8f00;
}

a {
    text-decoration: none;
}

.__my-container {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

aside {
    width: 120px;
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #0a2238;
}

main {
    width: calc(100vh - 150px);
    height: calc(100vh - 60px);
    background-color: green;
}

.__inner-nav-bar {
    background-color: #1b72e8;
}

.__bg-button {
    background-color: #165bba;
}

li, span {
    font-size: 10px;
}

.__aside-hover:hover {
    background-color: #818f98;
}