.__nav-bg {
    background-color: blue;
}
/* test */

.__nav-size {
    height: 80px;
}


.__bg-search {
    background-color: #e5e5e5;
}

.fa-solid {
    color: #5b5858;
}

.fa-bell {
    color: #ff8f00;
}
